THREADS_ACCESS_TOKEN=THAAW9xpaDqYFBYmFCZAmRmTXc0cDd0SGJDclptbW1YYWdBbXhvS2x3U0N2WnJkNTg0MmV2NG5nRGZAEV1ZAvNnowanp0QVJVWnRPVG82YnJuVjMzWDIzN0ZAHV0RnSDZAITUcyQjB1YTAyNkwtZATJZAWW9iYzVOVW14eUxnbVE4UEhDWUlhUkI1cWpGdDhYdGNaLTAZD
THREADS_USER_ID=dugraphic

# 예약 발행 시간 (24시간 기준, KST). 예: 매일 오전 9시 = 09:00
SCHEDULE_TIME=13:00